/* Color variables and the background color*/
body {
    --color-primary: white;
    --color-text: rgb(121, 121, 121);
    --color-secondary: black;
    background-image: url("/images/background.png");
}

.navbar.fixed-top.navbar-expand-lg.navbar-light{
    background-color: var(--color-primary);
    opacity: 90%;
}

.nav-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary) !important;
}
.box {
    background-color: var(--color-secondary);
}

.space {
    margin-top: 200px;
}

.icon {
    height: 30px;
    width: 50px;
}

.texth4 {
    background-color: var(--color-secondary);
}
