/* Color variables and other instances*/
body {
    --color-primary: rgb(32, 32, 32);
    --color-primary-light: rgb(121, 121, 121);
    --color-secondary: rgb(230, 163, 75);
    --color-secondary-light: white;
    --color-error: rgb(189, 0, 0);
    --color-success: green;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background:var(--color-primary);
}

/* Container for the Login/Sign-up*/
.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: var(--color-secondary);
}

/* Font settings*/
.container, .formInput, .formButton {
    font: 500 1rem Verdana, Geneva, Tahoma, sans-serif;
}

/* The switch for changing between Login and Sign-up*/
.formHidden {
    display: none;
}

/* Removes margins on the top and bottom of the container*/
.form > *:first-child {
    margin-top: 0;
}
.form > *:last-child {
    margin-bottom: 0;
}

/* Title design*/
.formTitle {
    margin: 2rem;
    text-align: center;
    color: var(--color-primary);
}

/* Messages design*/
.formMessage{
    text-align: center;
    margin-bottom: 1rem;
}
.formMessage--Success {
    color: var(--color-success);
}
.formMessage--Error {
    color: var(--color-error);
}

/* Input design*/
.formInputGroup{
    margin-bottom: 1rem;
}
.formInput{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary-light);
    outline: none;
    background: rgb(255, 255, 255);
    transition: background 0.2s, border-color 0.2s;
}

/* Border color changes when it's focused on*/
.formInput:focus{
    border-color: var(--color-secondary);
}

/* Border color changes when it receives an error*/
.formInputError{
    color:var(--color-error);
    border-color: var(--color-error);
}

/* Design for Error message*/
.formInputErrorMessage{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

/* Button design*/
.formButton{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-primary-light);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-secondary-light);
}

/* Changes of the button when it's hovered on*/
.formButton:hover {
    background: var(--color-primary);
    color: var(--color-secondary-light);
}

/* Changes of the button when it's active*/
.formButton:active {
    transform: scale(0.98);
}

/* Design for the bottom links*/
.formText {
    text-align: center;
}
.formLink {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
}

/* Changes of the links when they are hovered*/
.formLink:hover {
    text-decoration: underline;
}

/* Password strength bar*/
.displayBadge{
    margin-top: 5%;
    display: none;
    text-align :center;
}

/* Password requirements design*/
.passwordRequirements{
	font-size: 0.75rem;
    margin-bottom: 1rem;
}

























