body {
    --color-primary: white;
    --color-text: rgb(121, 121, 121);
    --color-secondary: black;
    --color-error: rgb(189, 0, 0);
    --color-success: green;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/background-main.png");
    /*This sets the body element to have a background image, and sets up the layout of the page with flexbox
    It also defines variables for the primary color (white), text color (light grey), and secondary color (black)*/
}

.container {
    width: 25rem;
    max-width: 25rem;
    border-radius: var(--border-radius);
    background: var(--color-secondary);
    /* This sets the width and maximum width of the element with the class "container" to 25rem, and sets the border radius
    It also sets the background color to the secondary color*/
}

.errorUsername {
    display: none;
    /* This hides the error message for the username input */
}
.errorEmail {
    display: none;
    /* This hides the error message for the email input */
}

.formHidden {
    display: none;
    /* The switch for changing between Login and Sign-up*/
}

/* Removes margins on the top and bottom of the container*/
.form > *:first-child {
    margin-top: 0;
}
.form > *:last-child {
    margin-bottom: 0;
}

.formTitle {
    color: var(--color-primary);
    /* Title design which gets the primary color*/
}

/* Messages design*/
.formMessage--Success {
    color: var(--color-success);
}
.formMessage--Error {
    color: var(--color-error);
}

.formInput{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-secondary);
    outline: none;
    background: var(--color-primary);
    transition: background 0.2s, border-color 0.2s;

    /*The input will have a display value of block, a width of 100% of its parent element,padding of 0.75rem on all sides,
    a box sizing of border-box, a border radius specified by the border-radius variable, a border with a width of 1 pixel,
    a solid style, and a color specified by the color-secondary variable. The input will also have no outline, a background color specified by the color-primary variable,
     and a transition effect for the background and border-color properties with a duration of 0.2 seconds. */
}

.formInput:focus{
    border-color: var(--color-secondary);
    /* Border color changes when it's focused on*/
}

.formInputError{
    color:var(--color-error);
    border-color: var(--color-error);
    /* Border color changes when it receives an error*/
}

.formInputErrorMessage{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
    /* Design for Error message*/
}


.formSuccessMessage{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-success);
    /* Design for Success message*/
}

.formButton{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-text);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    /*The button will have a width of 100% of its parent element, padding of 1rem on
     the top and bottom and 2rem on the left and right, a bold font weight, a font size of 1.1rem, a color specified by the color-text variable,
     no border, a border radius specified by the border-radius variable, no outline, a cursor style of pointer, and a background color specified by the color-primary variable. */
}

.formButton:hover {
    background: var(--color-primary);
    color: var(--color-secondary);
    /* Button design when it's hovered*/
}

.formButton:active {
    transform: scale(0.98);
    /* Changes of the button when it's active*/
}

.formLink {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    /* This styles the link element, setting its color to the primary color, removing the text decoration, and setting the cursor to a pointer */
}

.formLink:hover {
    text-decoration: underline;
    color: var(--color-primary);
    /* This changes the text decoration and color of the link element when the mouse hovers over it*/
}

.displayBadge{
    display: none;
    /* Password strength bar switch*/
}

.passwordRequirements{
	font-size: 0.75rem;
    /* Setting size for the password requirements*/

}

.logo {
    height: 1.875rem;
    width: 3.125rem;
    /* This sets the height and width of the element with the class "logo" */
}
























