/* Color variables and the background color*/
body {
    --color-primary: white;
    --color-text: rgb(121, 121, 121);
    --color-secondary: black;
    background-image: url("/images/background.png");
}

.navbar.fixed-top.navbar-expand-lg.navbar-light{
    background-color: var(--color-primary);
    opacity: 90%;
}

.nav-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary) !important;
}

.box {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary);
}

.space {
    margin-top: 200px;
}

.img {
    height: 175px;
    width: 125px;
}

.links {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
}
.links:hover {
    color: var(--color-primary);
}

.icon{
    height: 30px;
    width: 50px;
}
.texth4 {
    background-color: var(--color-secondary);
}