/* Color variables and the background color*/
body {
    --color-primary: white;
    --color-text: rgb(121, 121, 121);
    --color-secondary: black;
    background-image: url("/images/background-main.png");
}

.navbar.fixed-top.navbar-expand-lg.navbar-light{
    background-color: var(--color-primary);
    opacity: 95%;
}

.nav-link:hover {
    background-color: var(--color-secondary) ;
    color: var(--color-primary) !important;
}
.box {
    background-color: var(--color-secondary);
}

.space {
    margin-top: 100px;
}
.btn.btn-light.btn-block {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
}

.btn.btn-light.btn-block:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
/* Formatting search box */
.search-box{
    position: relative;
}
.result{
    position: center;
    background-color: var(--color-primary);
    color: var(--color-text);
}
.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
}
/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    cursor: pointer;
}
.result p:hover{
    background: var(--color-secondary);
    color: var(--color-primary);
}

.icon{
    height: 30px;
    width: 50px;
}

.logo {
    height: 400px;
    width: 600px;
}