/* Color variables and the background color*/
body {
    --color-primary: rgb(32, 32, 32);
    --color-primary-light: rgb(121, 121, 121);
    --color-secondary: rgb(230, 163, 75);
    background-color: var(--color-primary-light);
}

.navbar.fixed-top.navbar-expand-lg.navbar-dark{
    background-color: var(--color-primary)
}

.nav-link:hover {
    background-color: var(--color-secondary) ;
    color: var(--color-primary) !important;
}
.box {
    background-color: var(--color-primary);
    color: white;
}

.boxt {
    background-color: var(--color-primary) !important;
    color: white;
}

.space {
    margin-top: 200px;
}

.box.container-fluid {
    max-width: 50%;
}

.img {
    height: 175px;
    width: 125px;
}