body {
    --color-primary: white;
    --color-text: rgb(121, 121, 121);
    --color-secondary: black;
    background-image: url("/images/background.png");
    /*This sets the body element to have a background image
       It also defines variables for the primary color (white), text color (light grey), and secondary color (black)*/
}

.navbar.fixed-top.navbar-expand-lg.navbar-light{
    background-color: var(--color-primary);
    opacity: 90%;
    /* This sets the background color of the navbar to the primary color, and sets its opacity to 90% */
}

.nav-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary) !important;
    /* This changes the background color and text color of the nav-link element when the mouse hovers over it.
    The text color is set to the primary color, and the !important rule overwrites any other styles for this element */
}

.pt-1 {
    padding-top: 2.9rem !important;
    margin-top: 1rem !important;
    /* This adds a top margin and top padding to the element with the class "pt-1" */
}

.row.content {
    height: 56.25rem;
    color: var(--color-primary);
    /* Set height of the grid*/
}

.sidenav {
    padding-top: 1.25rem;
    height: 100%;
    /* Set background color and 100% height */
}

.box {
    background-color: var(--color-secondary);
    /* This sets the background color of the element with the class "box" to the secondary color */
}

.button{
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
    /* This changes the background color and text color of the button element. The !important rule overwrites any other styles for this element */
}
.button:active{
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important;
    transform: scale(0.98) !important;
    /* This changes the background color and text color of the button element when it is being clicked, and scales it down slightly. The !important rule overwrites any other styles for this element */
}

.link {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    /* This styles the link element, setting its color to the primary color, removing the text decoration, and setting the cursor to a pointer */
}


.link:hover {
    text-decoration: underline;
    color: var(--color-primary);
    /* This changes the text decoration and color of the link element when the mouse hovers over it*/
}

.yourRating{
    display: none;
    /* Switch for the rating system */
}

.icon {
    height: 1.875rem;
    width: 3.125rem;
    /* This sets the height and width of the element with the class "icon" */
}


@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 0.9375rem;
    }
    .row.content {height:auto;}
    /* On small screens, set height to 'auto' for sidenav and grid */
}

.imgSize {
    width: 18.75rem;
    height: 25rem;
    /* Set the height and width of an image element */
}